/* BlogNav.css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1b134b;
    border-bottom: 1px solid #ccc;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50px;
  }
  
  .logo span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .right-side {
    display: flex;
    align-items: center;
  }
  
  .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .links li {
    margin-right: 20px;
  }
  
  .links a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .links a:hover {
    color: #000000;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  input[type="text"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }